attrs==15.2.0
awscli==1.18.36
botocore==1.15.36
click==7.1.2
colorama==0.4.3
configobj==5.0.6
cryptography==1.2.3
demjson==2.2.4
docutils==0.15.2
enum34==1.1.2
Flask==1.1.4
futures==3.3.0
idna==2.0
ipaddress==1.0.16
itsdangerous==1.1.0
Jinja2==2.11.3
jmespath==0.9.5
Landscape-Client==16.3+bzr834
MarkupSafe==1.1.1
pyasn1==0.1.9
pyasn1-modules==0.0.7
pyOpenSSL==0.15.1
python-apt==1.1.0b1+ubuntu0.16.4.8
python-dateutil==2.8.1
PyYAML==5.3.1
rsa==3.4.2
s3transfer==0.3.3
service-identity==16.0.0
six==1.10.0
Twisted==16.0.0
vboxapi==1.0
Werkzeug==1.0.1
zope.interface==4.1.3
